html {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100vh;
  color: #FFF;
  text-align: center;

  background: url(images/background-image.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: rgba(130, 39, 146, 0.75);
}

h1 {
  font-weight: 100;
  font-size: 110px;
  width: inherit;
}

h2 {
  font-weight: 300;
  font-size: 20px;
}

hr {
  margin: 10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
.centered {
  margin-top: -50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.button-container {
  margin: 20px;
}

.button-container button {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: none;
  border: 1px solid #F2F2F2;
  opacity: 0.75;
  outline: none;
  color: #FFF;
  font-size: 22px;
  margin: 5px;
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity 0.5s;
}

.button-container button:hover {
  opacity: 1;
}
